* {box-sizing: border-box;}

body {
	position: relative;
}

.wrapper-overall {
	max-width: 960px;
	border: 1px solid red;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

h1{
	text-align: center;
	font-size: 64px;
}
h2{
	font-size: 30px;
	padding-left: 30px;
	font-style: bold;
}
.hu{
	font-size: 16px
	padding-left:10px;
}